In [1]:
# Map the google drive here
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Go to the python folder in the git cloned path
%cd /content/drive/MyDrive/edurekaai/python

/content/drive/MyDrive/edurekaai/python

In [4]:
# Add the python folder to the sys path so that you can access the modules under it.
import sys
import os

# Add the 'utils' directory to sys.path
# utils_path = os.path.join(os.path.dirname(__file__), 'utils')
utils_path = os.path.join(os.getcwd(), 'utils')
sys.path.append(utils_path)

In [ ]:
# Install pandas
! pip install pandas openpyxl

Requirement already satisfied: pandas in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: openpyxl in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (from pandas) (2025.1)
Requirement already satisfied: et-xmlfile in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /home/azureuser/miniconda3/envs/.langchain/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
import numpy as np

# Panda can load csv, excel, sql, json, XML

In [ ]:
df1 = pd.read_excel('../_data/samples/bigmart_sales_data.xlsx', ['Sheet1'])
df2 = df1['Sheet1']

#print top 5 rows
df2.head()

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,F1000,10.62,Non-Edible,0.23,Beverages,166.36,OUT013,1985,Small,Tier 2,Supermarket Type1,1085.55
1,F1001,19.26,Regular,0.04,Fruits and Vegetables,70.53,OUT019,2009,Medium,Tier 2,Supermarket Type1,4193.61
2,F1002,15.98,Low Fat,0.26,Snack Foods,240.27,OUT010,2009,High,Tier 3,Supermarket Type2,1420.15
3,F1003,13.98,Regular,0.19,Baking Goods,104.11,OUT019,2004,Medium,Tier 3,Supermarket Type3,4033.35
4,F1004,7.34,Non-Edible,0.07,Beverages,56.43,OUT010,2007,Small,Tier 2,Supermarket Type2,181.75

In [ ]:
df2.to_json('../_data/samples/bigmart_sales_data.json')
df_bigmart = pd.read_json('../_data/samples/bigmart_sales_data.json')
df_bigmart.head(3)

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,F1000,10.62,Non-Edible,0.23,Beverages,166.36,OUT013,1985,Small,Tier 2,Supermarket Type1,1085.55
1,F1001,19.26,Regular,0.04,Fruits and Vegetables,70.53,OUT019,2009,Medium,Tier 2,Supermarket Type1,4193.61
2,F1002,15.98,Low Fat,0.26,Snack Foods,240.27,OUT010,2009,High,Tier 3,Supermarket Type2,1420.15

In [ ]:
df_bigmart.columns

Index(['Item_ID', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_ID', 'Outlet_Establishment_Year',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type',
       'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
df_bigmart.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,12.412372,0.152502,164.433637,2000.38600,2552.117719
std,4.314466,0.086292,78.090001,8.69395,1404.860634
min,5.000000,0.000000,30.000000,1985.00000,101.370000
25%,8.697500,0.080000,96.885000,1997.00000,1342.777500
50%,12.390000,0.150000,163.860000,2004.00000,2547.065000
75%,16.100000,0.230000,232.230000,2007.00000,3758.590000
max,20.000000,0.300000,299.990000,2009.00000,4998.550000

In [ ]:
df_bigmart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_ID                    10000 non-null  object
 1   Item_Weight                10000 non-null  float64
 2   Item_Fat_Content           10000 non-null  object
 3   Item_Visibility            10000 non-null  float64
 4   Item_Type                  10000 non-null  object
 5   Item_MRP                   10000 non-null  float64
 6   Outlet_ID                  10000 non-null  object
 7   Outlet_Establishment_Year  10000 non-null  int64
 8   Outlet_Size                10000 non-null  object
 9   Outlet_Location_Type       10000 non-null  object
 10  Outlet_Type                10000 non-null  object
 11  Item_Outlet_Sales          10000 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1015.6+ KB

In [ ]:
#Sampling the data from datafram (pick up random data) using slicing
df_bigmart[0:10:3]

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,F1000,10.62,Non-Edible,0.23,Beverages,166.36,OUT013,1985,Small,Tier 2,Supermarket Type1,1085.55
3,F1003,13.98,Regular,0.19,Baking Goods,104.11,OUT019,2004,Medium,Tier 3,Supermarket Type3,4033.35
6,F1006,5.87,Non-Edible,0.19,Fruits and Vegetables,126.42,OUT010,2009,Small,Tier 1,Grocery Store,2719.16
9,F1009,15.62,Low Fat,0.10,Dairy,117.44,OUT018,2004,Medium,Tier 2,Grocery Store,4245.48

In [ ]:
df_bigmart[df_bigmart.Outlet_Size == "Small"].head()

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,F1000,10.62,Non-Edible,0.23,Beverages,166.36,OUT013,1985,Small,Tier 2,Supermarket Type1,1085.55
4,F1004,7.34,Non-Edible,0.07,Beverages,56.43,OUT010,2007,Small,Tier 2,Supermarket Type2,181.75
5,F1005,7.34,Non-Edible,0.05,Dairy,93.51,OUT010,2009,Small,Tier 3,Grocery Store,4624.54
6,F1006,5.87,Non-Edible,0.19,Fruits and Vegetables,126.42,OUT010,2009,Small,Tier 1,Grocery Store,2719.16
11,F1011,19.55,Low Fat,0.09,Snack Foods,246.10,OUT013,1985,Small,Tier 2,Supermarket Type1,330.83

In [ ]:
df_bigmart.drop([0,2], inplace=True)
df_bigmart.head(5)

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,F1001,19.26,Regular,0.04,Fruits and Vegetables,70.53,OUT019,2009,Medium,Tier 2,Supermarket Type1,4193.61
3,F1003,13.98,Regular,0.19,Baking Goods,104.11,OUT019,2004,Medium,Tier 3,Supermarket Type3,4033.35
4,F1004,7.34,Non-Edible,0.07,Beverages,56.43,OUT010,2007,Small,Tier 2,Supermarket Type2,181.75
5,F1005,7.34,Non-Edible,0.05,Dairy,93.51,OUT010,2009,Small,Tier 3,Grocery Store,4624.54
6,F1006,5.87,Non-Edible,0.19,Fruits and Vegetables,126.42,OUT010,2009,Small,Tier 1,Grocery Store,2719.16

In [ ]:
# Identifying duplicate data (all columns matching)
df_bigmart.duplicated()

df_bigmart.drop_duplicates()

df_bigmart.drop_duplicates(inplace=True) #commits the change

df_bigmart.head()

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,F1001,19.26,Regular,0.04,Fruits and Vegetables,70.53,OUT019,2009,Medium,Tier 2,Supermarket Type1,4193.61
3,F1003,13.98,Regular,0.19,Baking Goods,104.11,OUT019,2004,Medium,Tier 3,Supermarket Type3,4033.35
4,F1004,7.34,Non-Edible,0.07,Beverages,56.43,OUT010,2007,Small,Tier 2,Supermarket Type2,181.75
5,F1005,7.34,Non-Edible,0.05,Dairy,93.51,OUT010,2009,Small,Tier 3,Grocery Store,4624.54
6,F1006,5.87,Non-Edible,0.19,Fruits and Vegetables,126.42,OUT010,2009,Small,Tier 1,Grocery Store,2719.16

In [ ]:
# Replace a column value
df = df_bigmart.Item_Fat_Content.replace('Less Fat', 'Low Fat')

#df_bigmart[df_bigmart.Item_Fat_Content == 'Low Fat']

#df_bigmart.Item_Fat_Content.replace('Low Fat', 'Less Fat', inplace=True)
df_bigmart_new = df_bigmart.Item_Fat_Content.replace('Less Fat', 'Low Fat')

df_bigmart_new[df_bigmart.Item_Fat_Content == 'Less Fat']

df_bigmart_new

1          Regular
3          Regular
4       Non-Edible
5       Non-Edible
6       Non-Edible
           ...
9995       Low Fat
9996    Non-Edible
9997       Low Fat
9998    Non-Edible
9999    Non-Edible
Name: Item_Fat_Content, Length: 9998, dtype: object

In [ ]:
# missing column records
df_bigmart[df_bigmart.Item_Fat_Content.isnull()]

Empty DataFrame
Columns: [Item_ID, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_ID, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [ ]:
# Fix missing data

## According to statistics
## Whenever you have any data which categorical in nature and missing, then identify the MODE of it and replace with them.
### MODE means most repeated value
## Whenever you have any data which is numerical in nature and missing, then identity the mean/median and replace with them.
### Caution: Mean is affected by outliers.  Median is not sensitive to outliers. Hence, use median incase you have outliers.

In [ ]:
print(f"Mode: {df_bigmart.Item_MRP.mode()[0]}") #there could be multiple outliers
print(f"Mode: {df_bigmart.Item_MRP.mode()[1]}") #there could be multiple outliers
print(f"Mean: {df_bigmart.Item_MRP.mean()}")
print(f"Median: {df_bigmart.Item_MRP.median()}")

Mode: 33.53
Mode: 188.03
Mean: 164.4258591718344
Median: 163.84

In [ ]:
## Handling multiple data frame (data may be split into 2 data frames)
df_bigmart.columns

# Creating 2 data frames to simulate the scenario of data coming from 2 sources.
df_bigmart1 = df_bigmart[['Item_ID', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility','Item_Type', 'Item_MRP', 'Outlet_ID', 'Outlet_Establishment_Year']]
df_bigmart2 = df_bigmart[['Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type','Item_Outlet_Sales']]

# Concartenate by columns.
pd.concat([df_bigmart1, df_bigmart2], axis=1)

,Item_ID,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_ID,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,F1001,19.26,Regular,0.04,Fruits and Vegetables,70.53,OUT019,2009,Medium,Tier 2,Supermarket Type1,4193.61
3,F1003,13.98,Regular,0.19,Baking Goods,104.11,OUT019,2004,Medium,Tier 3,Supermarket Type3,4033.35
4,F1004,7.34,Non-Edible,0.07,Beverages,56.43,OUT010,2007,Small,Tier 2,Supermarket Type2,181.75
5,F1005,7.34,Non-Edible,0.05,Dairy,93.51,OUT010,2009,Small,Tier 3,Grocery Store,4624.54
6,F1006,5.87,Non-Edible,0.19,Fruits and Vegetables,126.42,OUT010,2009,Small,Tier 1,Grocery Store,2719.16
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,F10995,17.86,Low Fat,0.05,Fruits and Vegetables,158.53,OUT018,1985,Small,Tier 2,Supermarket Type1,1606.02
9996,F10996,18.46,Non-Edible,0.21,Snack Foods,212.57,OUT013,1985,Small,Tier 3,Grocery Store,1047.34
9997,F10997,19.20,Low Fat,0.22,Snack Foods,272.21,OUT013,2009,High,Tier 1,Supermarket Type1,2225.24
9998,F10998,10.96,Non-Edible,0.27,Beverages,133.15,OUT010,2009,Small,Tier 3,Grocery Store,2458.60
9999,F10999,8.26,Non-Edible,0.07,Dairy,114.53,OUT017,2007,Medium,Tier 1,Supermarket Type3,3329.60

In [ ]:
# Joining 2 dataframes using joining KEY
# Created 2 more data frame with a common key
df_bigmart1_1 = df_bigmart1[['Item_ID', 'Item_Weight', 'Item_Fat_Content']].head()
df_bigmart1_2 = df_bigmart1[['Item_ID', 'Item_MRP']].head()

df_bigmart1_2

  Item_ID  Item_MRP
1   F1001     70.53
3   F1003    104.11
4   F1004     56.43
5   F1005     93.51
6   F1006    126.42

In [ ]:
##change 2 row KEY value
df_bigmart1_1.loc[3, 'Item_ID'] = 'G1003'
df_bigmart1_1.loc[1, 'Item_ID'] = 'G1001'

## Inner Join
pd.merge(df_bigmart1_1, df_bigmart1_2, on=["Item_ID"], how="inner")

## left Join (inner + left)
pd.merge(df_bigmart1_1, df_bigmart1_2, on=["Item_ID"], how="left")

## right Join (inner + right)
pd.merge(df_bigmart1_1, df_bigmart1_2, on=["Item_ID"], how="right")

## outer Join (inner + left over from left + left over from right)
pd.merge(df_bigmart1_1, df_bigmart1_2, on=["Item_ID"], how="outer")

  Item_ID  Item_Weight Item_Fat_Content  Item_MRP
0   F1001          NaN              NaN     70.53
1   F1003          NaN              NaN    104.11
2   F1004         7.34       Non-Edible     56.43
3   F1005         7.34       Non-Edible     93.51
4   F1006         5.87       Non-Edible    126.42
5   G1001        19.26          Regular       NaN
6   G1003        13.98          Regular       NaN

In [ ]:
df_bigmart1.groupby(['Item_Fat_Content','Item_Visibility']).count()

                                  Item_ID  Item_Weight  Item_Type  Item_MRP  \
Item_Fat_Content Item_Visibility
Low Fat          0.00                  48           48         48        48
                 0.01                 101          101        101       101
                 0.02                 125          125        125       125
                 0.03                 104          104        104       104
                 0.04                 111          111        111       111
...                                   ...          ...        ...       ...
Regular          0.26                 115          115        115       115
                 0.27                 107          107        107       107
                 0.28                  95           95         95        95
                 0.29                 129          129        129       129
                 0.30                  60           60         60        60

                                  Outlet_ID  Outlet_Establishment_Year
Item_Fat_Content Item_Visibility
Low Fat          0.00                    48                         48
                 0.01                   101                        101
                 0.02                   125                        125
                 0.03                   104                        104
                 0.04                   111                        111
...                                     ...                        ...
Regular          0.26                   115                        115
                 0.27                   107                        107
                 0.28                    95                         95
                 0.29                   129                        129
                 0.30                    60                         60

[93 rows x 6 columns]

### Plotting Pivot

In [ ]:

df_stocks = pd.read_csv('../_data/samples/stock_trending_data.csv')
df_stocks.head()
# df_stocks.duplicated()
# df_stocks[df_stocks.Date == "2023-01-02"]
df_stocks.pivot(index='Date', columns='Symbol', values=['Close'])

             Close
Symbol        AAPL     AMZN    GOOGL    MSFT
Date
2023-01-02  151.09  3298.47  2800.55  302.38
2023-01-03  150.92  3295.66  2801.51  301.70
2023-01-04  152.31  3296.36  2799.36  299.61
2023-01-05  155.46  3295.37  2798.81  302.55
2023-01-06  155.09  3299.20  2796.98  302.42
...            ...      ...      ...     ...
2024-12-25  203.44  3298.17  2883.43  291.89
2024-12-26  203.73  3299.37  2884.59  291.30
2024-12-27  205.34  3297.60  2880.77  292.38
2024-12-30  202.10  3299.91  2880.16  293.85
2024-12-31  203.29  3300.41  2880.37  292.28

[522 rows x 4 columns]

In [ ]:
# pivot table helps you aggregrate datat
df_stocks.pivot_table(index='Date', columns='Symbol', values=['Volume'])

              Volume
Symbol          AAPL      AMZN     GOOGL      MSFT
Date
2023-01-02  459723.0  290093.0  296846.0  399899.0
2023-01-03  237541.0  174176.0  264044.0  239805.0
2023-01-04  404245.0  194799.0  302160.0  371623.0
2023-01-05  164323.0  198385.0  170463.0  175361.0
2023-01-06  191922.0  335654.0  193500.0  252376.0
...              ...       ...       ...       ...
2024-12-25  398206.0  280076.0  425437.0  231627.0
2024-12-26  413715.0  346300.0  343896.0  121323.0
2024-12-27  387654.0  260786.0  256877.0  433112.0
2024-12-30  381570.0  117198.0  111874.0  153915.0
2024-12-31  137265.0  429095.0  324137.0  471687.0

[522 rows x 4 columns]

In [ ]:
# average or mean data by Symbol
df_stocks.pivot_table(index='Symbol', values=['Volume'])
df_stocks.pivot_table(index='Symbol', values=['Volume'], aggfunc='mean')

               Volume
Symbol
AAPL    298288.195402
AMZN    301396.639847
GOOGL   305022.789272
MSFT    303616.063218

In [ ]:
# Sum data by Symbol
pivot = df_stocks.pivot_table(index='Symbol', values=['Volume'], aggfunc='sum')
pivot

           Volume
Symbol
AAPL    155706438
AMZN    157329046
GOOGL   159221896
MSFT    158487585

In [ ]:
df_stocks.loc[df_stocks['Symbol'] == 'AAPL'].pivot_table(index='Date', values=['Volume'], aggfunc='sum')

            Volume
Date
2023-01-02  459723
2023-01-03  237541
2023-01-04  404245
2023-01-05  164323
2023-01-06  191922
...            ...
2024-12-25  398206
2024-12-26  413715
2024-12-27  387654
2024-12-30  381570
2024-12-31  137265

[522 rows x 1 columns]

In [ ]:
df_stocks.loc[0:, 'Symbol'].unique()

array(['AAPL', 'GOOGL', 'MSFT', 'AMZN'], dtype=object)

### Testing Dataframe Knowledge (using stock data)

In [ ]:
df_stocks = pd.read_csv('../_data/samples/stock_trending_data.csv')
df_stocks.head()

         Date Symbol        Open        High         Low   Close  Volume
0  2023-01-02   AAPL  151.134869  151.095168  150.837492  151.09  459723
1  2023-01-03   AAPL  151.209093  152.195970  149.600741  150.92  237541
2  2023-01-04   AAPL  152.610335  153.340350  151.986760  152.31  404245
3  2023-01-05   AAPL  155.189394  156.647077  154.949013  155.46  164323
4  2023-01-06   AAPL  155.211354  156.677488  153.196724  155.09  191922

In [ ]:
# Find highest closing price of each stock
df_stocks.groupby('Symbol')['Close'].max()

Symbol
AAPL      224.17
AMZN     3327.90
GOOGL    2909.30
MSFT      321.18
Name: Close, dtype: float64

In [ ]:
# Calculate daily change in stock price (close - open)
df_stocks['Daily_Change'] = (df_stocks['Close'] - df_stocks['Open']) * 100 / df_stocks['Open']

df_stocks.head()

,Date,Symbol,Open,High,Low,Close,Volume,Daily_Change
0,2023-01-02,AAPL,151.134869,151.095168,150.837492,151.09,459723,-0.029688
1,2023-01-03,AAPL,151.209093,152.195970,149.600741,150.92,237541,-0.191188
2,2023-01-04,AAPL,152.610335,153.340350,151.986760,152.31,404245,-0.196798
3,2023-01-05,AAPL,155.189394,156.647077,154.949013,155.46,164323,0.174371
4,2023-01-06,AAPL,155.211354,156.677488,153.196724,155.09,191922,-0.078187

In [ ]:
# Filter high volume trading days
df_stocks['Mean_Volume'] = df_stocks['Volume'].mean()
df_stocks[df_stocks['Volume'] > df_stocks['Mean_Volume']].head()

,Date,Symbol,Open,High,Low,Close,Volume,Daily_Change,Mean_Volume
0,2023-01-02,AAPL,151.134869,151.095168,150.837492,151.09,459723,-0.029688,302080.921935
2,2023-01-04,AAPL,152.610335,153.340350,151.986760,152.31,404245,-0.196798,302080.921935
8,2023-01-12,AAPL,158.662064,160.591782,157.674973,158.78,335659,0.074331,302080.921935
9,2023-01-13,AAPL,159.768971,161.499889,159.771696,159.96,489678,0.119566,302080.921935
10,2023-01-16,AAPL,159.274856,160.243274,158.442674,159.13,429728,-0.090947,302080.921935